{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
{% include head.html %}
  <body>
    <a href="/" class="home-icon">
      <img src="/images/home.png"/>
    </a>

    {{ content | expand_urls: root_url }}
    {% include footer.html %}
  </body>
</html>
