<div class="col-md-1">
  <a href="/"><h4>Home</h4></a>
</div>

<div class="col-md-2">
  <div class="social-icon-list">
    {% if site.twitter_user %}
    <a href="https://twitter.com/{{site.twitter_user}}"><img src="/images/glyphicons_social_31_twitter.png"/></a>
    {% endif %}

    {% if site.github_user %}
    <a href="https://github.com/{{site.github_user}}"><img src="/images/glyphicons_social_21_github.png"/></a>
    {% endif %}

    {% if site.linkedin_user %}
    <a href="https://linkedin.com/in/{{site.linkedin_user}}"><img src="/images/glyphicons_social_17_linked_in.png"/></a>
    {% endif %}

    {% if site.email %}
    <a href="mailto:{{site.email}}"><img src="/images/glyphicons_social_39_e-mail.png"/></a>
    {% endif %}

    {% if site.stackoverflow_user %}
    <a href="http://stackoverflow.com/users/{{site.stackoverflow_user}}/"><img src="/images/glyphicons_social_400_stack_overflow.png"/></a>
    {% endif %}

    {% if site.steam_id %}
    <a href="http://steamcommunity.com/id/{{site.steam_id}}/"><img src="/images/glyphicons_social_983_steam.png"/></a>
    {% elsif site.steam_community_profile_id %}
    <a href="http://steamcommunity.com/profiles/{{site.steam_community_profile_id}}/"><img src="/images/glyphicons_social_983_steam.png"/></a>
    {% endif %}
  </div>
</div>

{% include end_footer.html %}
{% include after_footer.html %}
