<div id="about-me" class="col-md-offset-3 col-md-6">
  <h4>about me</h4>
  <p>{{ site.description }}</p>
  <div class="social-icon-list">
  	{% if site.twitter_user %}
    <a title="Twitter" href="https://twitter.com/{{ site.twitter_user }}"><img src="/images/glyphicons_social_31_twitter.png"/></a>
    {% endif %}
    {% if site.github_user %}
    <a title="GitHub" href="https://github.com/{{ site.github_user }}"><img src="/images/glyphicons_social_21_github.png"/></a>
    {% endif %}
    {% if site.linkedin_user %}
    <a title="LinkedIn" href="https://linkedin.com/in/{{site.linkedin_user}}"><img src="/images/glyphicons_social_17_linked_in.png"/></a>
    {% endif %}
    {% if site.email %}
    <a title="E-Mail" href="{{ site.email }}"><img src="/images/glyphicons_social_39_e-mail.png"/></a>
    {% endif %}
  </div>
</div>
